.btn {
  background-color: white;
  outline: none;
  border: 0;
  padding: 20px 30px;
  border-radius: 6px;
}
.btn-primary {
  background: #205e20;
  color: white;
  font-size: 18px;
  cursor: pointer;
}
